@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);

  /* Brand Colors */
  --color-brand: #2b6dfc;
  --color-brand-hover: #262af8;
  --color-brand-red: #d32f2f;

  /* Dark Mode Colors */
  --color-dark-main: #1B1D1E;
  --color-dark-surface: #25282A;
  --color-dark-border: #334155;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}